* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

:root {
    --bg-color-base: linear-gradient();
    --color-text: #B52184;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}