:root {
    --base-color: #535971;
    --button-color: #FF5374;
    --button-hover-color: #e4385a;
    --font-primary-color: #fff;
    --bg-secundary-color: #EFEFEF;
    --bg-input-color: #FAFAFC;
    --border-color: #E6E6F0;
    --font-secundary-color: #4E4958;
    --font-span-color: #C1BCCC;
    --base-color-light: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-secundary-color);
}

body::before {
    content: '';
    width: 100%;
    height: 400px;
    background-color: var(--base-color);
    position: absolute;
    top: 0;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 0;
}

.container {
    max-width: 750px;
    width: 100%;
    margin-bottom: 300px;
}

header {
    padding: 128px 0 58px;
    gap: 18px;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 48px;
    color: var(--base-color-light);
    font-weight: 400;
}

p {
    width: 417px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--base-color-light);
}

form {
    background-color: var(--base-color-light);
    border-radius: 20px 20px 0 0;
    padding: 64px 64px 34px 64px;
}

fieldset {
    border: none;
}

.fieldset {
    gap: 16px;
    margin-bottom: 34px;
}

.fieldset > legend {
    width: 100%;
    font-size: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 30px;
}

legend {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    color: var(--base-color);
}

.input-wrapper {
    gap: 8px;
}

label {
    font-family: 'Poppins', sans-serif;
    color: var(--font-secundary-color);
    font-size: 14px;
}

input {
    background-color: var(--bg-input-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 15px;
}

input:invalid {
    outline: 1px solid red;
}

span {
    color: var(--font-span-color);
    font-size: 12px;
}

.name-input-area {
    gap: 22px;
}

.name-input-area input {
    width: 300px;
}

.rol-3 {
    margin-top: 10px;
    gap: 32px;
}

.rol-3 input.date {
    width: 300px;
}

.time {
    gap: 10px;
}

.time input {
    width: 140px;
}

footer {
    background-color: var(--base-color);
    border-radius: 0 0 20px 20px;
    padding: 50px 70px;
}

button {
    background-color: var(--button-color);
    padding: 15px;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    color: var(--base-color-light);
}

button:hover {
    background-color: var(--button-hover-color);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}
